@tailwind base;

@font-face {
  font-family: Proxima Nova;
  font-weight: 400;
  src: url(_assets/fonts/proxima-nova/400-regular.woff2) format("woff2");
}

@font-face {
  font-family: Proxima Nova;
  font-weight: 700;
  src: url(_assets/fonts/proxima-nova/700-bold.woff2) format("woff2");
}

@font-face {
  font-family: Proxima Nova;
  font-weight: 900;
  src: url(_assets/fonts/proxima-nova/900-black.woff2) format("woff2");
}

.body-1 {
  @apply .font-regular .text-base .text-sixteen
}

.body-2 {
  @apply .font-regular .text-sm .text-fourteen
}

.body-2-bold {
  @apply .font-bold .text-sm .text-fourteen
}

.link-text {
  @apply .font-regular .text-sm .text-fourteen
}

.error-text {
  @apply .font-regular .text-fourteen
}

.disabled-text {
  @apply .font-regular .text-sm .text-fourteen
}

.tiny-text {
  @apply .font-semibold .text-xs .text-twelve
}

.display-large {
  @apply .font-bold .text-5xl .text-fortyEight
}

.h1-large {
  @apply .font-semibold .text-4xl .text-thirtySix
}

.h2-large {
  @apply .font-semibold .text-twentyEight
}

.h3-large {
  @apply .font-bold .text-2xl .text-twentyFour
}

.eyebrow-large {
  @apply .font-semibold .text-lg .text-eighteen
} 

.display-small {
  @apply .font-bold .text-forty
}

.h1-small {
 @apply .font-semibold .text-twentyEight
}

.h2-small {
  @apply .font-semibold .text-2xl .text-twentyFour
}

.h3-small {
  @apply .font-bold .text-lg .text-eighteen
}

.eyebrow-small {
  @apply .font-bold .text-base .text-sixteen
}

@tailwind preflight;
@tailwind components;
@tailwind utilities;

