@tailwind base;

@font-face {
  font-family: Proxima Nova;
  font-weight: 400;
  src: url(_assets/fonts/proxima-nova/400-regular.woff2) format("woff2");
}

@font-face {
  font-family: Proxima Nova;
  font-weight: 700;
  src: url(_assets/fonts/proxima-nova/700-bold.woff2) format("woff2");
}

@font-face {
  font-family: Proxima Nova;
  font-weight: 900;
  src: url(_assets/fonts/proxima-nova/900-black.woff2) format("woff2");
}

.body-1 {
  @apply .font-regular .text-base
}

.body-2 {
  @apply .font-regular .text-sm
}

.body-2-bold {
  @apply .font-bold .text-sm
}

.link-text {
  @apply .font-regular .text-sm
}

.error-text {
  @apply .font-regular .text-sm
}

.disabled-text {
  @apply .font-regular .text-sm
}

.tiny-text {
  @apply .font-semibold .text-xs .px-12
}

.display-large {
  @apply .font-bold .text-5xl
}

.h1-large {
  @apply .font-semibold .text-4xl
}

.h2-large {
  @apply .font-semibold 
}

.h3-large {
  @apply .font-bold .text-2xl
}

.eyebrow-large {
  @apply .font-semibold .text-lg
} 

.display-small {
  @apply .font-bold 
}

.h1-small {
 @apply .font-semibold 
}

.h2-small {
  @apply .font-semibold .text-2xl
}

.h3-small {
  @apply .font-bold .text-lg
}

.eyebrow-small {
  @apply .font-bold text-base
}

/*@tailwind preflight;*/
@tailwind components;
@tailwind utilities;

/*.body-1 {
  @apply .px-sixteen .font-regular .text-base
}

.body-2 {
  @apply .px-fourteen .font-regular .text-sm
}

.body-2-bold {
  @apply .px-fourteen .font-bold .text-sm
}

.link-text {
  @apply .px-fourteen .font-regular .text-sm
}

.error-text {
  @apply .px-fourteen .font-regular .text-sm
}

.disabled-text {
  @apply .px-fourteen .font-regular .text-sm
}

.tiny-text {
  @apply .px-twelve .font-semibold .text-xs
}

.display-large {
  @apply .px-fortyEight .font-bold .text-5xl
}

.h1-large {
  @apply .px-thirtySix .font-semibold .text-4xl
}

.h2-large {
  @apply .px-twentyEight .font-semibold .text-onePointSeventyFive
}

.h3-large {
  @apply .px-twentyFour .font-bold .text-2xl
}

.eyebrow-large {
  @apply .px-eighteen .font-semibold .text-lg
} 

.display-small {
  @apply .px-forty .font-bold .text-twoPointFive
}

.h1-small {
 @apply .px-twentyEight .font-semibold .text-onePointSeventyFive
}

.h2-small {
  @apply .px-twentyFour .font-semibold .text-2xl
}

.h3-small {
  @apply .px-eighteen .font-bold .text-lg
}

.eyebrow-small {
  @apply .px-sixteen .font-bold text-base
}*/